body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bts{
  border-radius: 15rem;
  margin-left: 5px;
}

.msg{
  border: 1px solid #e0e0e0;
  height: 50vh;
  margin: 3rem 1rem;
}
