body {
  margin: 0;
  font-family: SF Pro Dispslay, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
	sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #080808;
  color: #e0e0e0;
}
input{
  background-color: #33383b !important;
  border: #080808 !important;
  color: #e0e0e0 !important;
}

h1{
  color: whitesmoke;
  padding-top: 3rem;
}

.bts{
  border-radius: 15rem;
  margin-left: 5px;
}

.msg{
  height: 65vh;
  margin: 3rem 1rem;
}

.area{
  height: 100%;
  /* background-color: #33383b !important; */
  border: 1px solid #33383b !important;
  border-radius: 1rem;
}

.bn{
  padding: .5rem;
}
.content{
  padding: .3rem;
  background-color: #33383b !important;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
}
.usr{
  color: #91ab01;
}